header, footer {
    
    padding: 0.5em; 
    color: green;
    background-color:#FFD580;
    
    
    
}
h1.header {
    padding: 0;
    margin: 0;
    font-family: Franklin Gothic;
    text-align: center;
}
div#user {
    float: right;
}


ul {
    float:left;
    width:100%; /* A menü az alatta levő szövegtől elválik, birtokolja a teljes vízszintes sávját. */
    padding:0;
    margin:0;
    list-style-type:none;
    background-color: rgb(184, 230, 173);
}        
a {
    float:left;
    width:6em; /* Fix szélességű gombok érhetők el. Érdemes azonban vigyázni ezzel a módszerrel, mert ha a szöveg nem fér ki, a dizájn szétesik. */
    text-decoration:none; /* Ne legyen aláhúzva a link. */
    color:white;
    background-color:navy;
    padding:0.2em 0.6em;
    border-right:1px solid white;
}
a.selected{
    background-color: blue;
}
a:hover { background-color:#ff3300} /* Az egérkurzorra színváltással reagál a menüpont. */
li { display:inline } /* Ez a sor oldja meg, hogy a menüpontok egymás mellé kerüljenek. */















   


.piz1{
    height: 350px;
    width: 350px;
    max-width: 100%;
    background-color:#343a40;
    margin: 30px;
}
.piz2 {
    
    width: 50%;
    height:100%;
    
    margin-top: 20px;
    background-color:#343a40;
    
}
.pizp {
    max-width: 30%;
    font-size: 1cqmax;
    
    
    color: white;
    float: right;
}
.pizp2 {
    
    max-width: 30%;
    flex-wrap: wrap;
    flex-grow: 0;
    
    font-size: 1cqmax;
    
    margin: 2px;
    color: white;
    

}
.piz3 {
   
    width: 50%;
    height:100%;
    flex-wrap: wrap;
    flex-grow: 2;
    

}
.flex {
    background-color: #343a40;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    padding-left:2% ;
    padding-right: 2%;
    display: flex;
    flex-wrap: wrap;
    
    max-width: 100%;
    
}
.seckinalat {
    display: flexbox;
    max-height: 100%;
}
.flexfo{
    
    
    align-items: center;
    text-align: center;
    display: flexbox;
    padding-right: 2%;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    background-color: #343a40;
    

}
.flexfo2 {
    align-items: center;
    text-align: center;
    padding-left:5% ;
    display: flexbox;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    background-color: #343a40;
    

}
.seckinalat1 {
    display: flexbox;
    padding: 0;
   
    
    
    
}
.seckinalat2 {
    
    justify-content: space-around;
    
    display: flexbox;
    
    
    
}

.seckinalat3 {
    display: flexbox;
} 
.foimg{
    height: 350px;
    width: 350px;
   
    background-color:#343a40;
    
     
}
