header, footer {
    
    padding: 0.5em; 
    color: white;
    background-color: gray;
    
    
    
}
h1.header {
    padding: 0;
    margin: 0;
    font-family: Franklin Gothic;
    text-align: center;
}
div#user {
    float: right;
}


ul {
    float:left;
    width:100%; /* A menü az alatta levő szövegtől elválik, birtokolja a teljes vízszintes sávját. */
    padding:0;
    margin:0;
    list-style-type:none;
    background-color: lightblue;
}        
a {
    float:left;
    width:6em; /* Fix szélességű gombok érhetők el. Érdemes azonban vigyázni ezzel a módszerrel, mert ha a szöveg nem fér ki, a dizájn szétesik. */
    text-decoration:none; /* Ne legyen aláhúzva a link. */
    color:white;
    background-color:navy;
    padding:0.2em 0.6em;
    border-right:1px solid white;
}
a.selected{
    background-color: blue;
}
a:hover { background-color:#ff3300} /* Az egérkurzorra színváltással reagál a menüpont. */
li { display:inline } /* Ez a sor oldja meg, hogy a menüpontok egymás mellé kerüljenek. */



.felso {
    background-color: #343a40;
    height: 300px;
    width: 100%;
    display: flexbox;
    
    
    
    
    
    
}
.felso2 {
    background-color: #343a40;
    
    max-height: 300px;
    max-width: auto;
    
    width: auto;
    display: flexbox;
    
} 
.also {
    background-color: #343a40;
    max-height: 350px;
    
    width: 100%;
    display: flexbox;
    
}
.flex-container {
    background-color: #343a40;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    
    
    display: flex;
    flex-wrap: wrap;
    
    max-width: 100%;
    
    
    
    
    
    
}
.divimg1{
    
    height: 350px;
    width: 350px;
    max-width: 100%;
    background-color:#343a40;
    margin: 20px;
}
.img1 {
   max-height: 250px;
   
} 
    

.divp1 {
    
    font-style: italic;
    max-height: 300px;
    max-width: 400px;
    
    font-family:  Gothic;
    margin: auto;
    margin-right: 1%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    padding-left: 10px;
    overflow:auto;

    
}
.divp2 {
    
    font-style: italic;
    max-height: 300px;
    max-width: 500px;
    margin: auto;
    margin-right: 25%;

    font-family:  Gothic;
    margin: auto;
    
    

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color:white;
    margin-left: 10%;
    overflow: auto;
    
    
    
}
.divny2 {
    height: 350px;
    width: 350px;
    max-width: 100%;
    background-color:#343a40;
    margin: 20px;
    
}
.img2{
    width: auto; height: 600px;

}
.img2{
    height: 300px ;
    width: 500px;
}
.divimg3 {
    height: 350px;
    width: 350px;
    max-width: 100%;
    background-color:#343a40;
    margin: 20px;
    
}
.img3 {
    height: auto; width: 250px;
    max-width: 250px;

}
.divp3 {
    
    font-style: italic;
    max-height: 300px;
    max-width: 500px;
   
    

    font-family:  Gothic;
    margin: auto;
    
    

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color:white;
    margin-left: 10%;
   

}
.piz1{
    height: 350px;
    width: 350px;
    max-width: 100%;
    background-color:#343a40;
    margin: 20px;
}
.flex {
    background-color: #343a40;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    padding-left:2% ;
    padding-right: 2%;
    display: flex;
    flex-wrap: wrap;
    
    max-width: 100%;
    
}
.seckinalat {
    display: flexbox;
    max-height: 100%;
}
.flexfo{
    background-color: #343a40;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    padding-left:2% ;
    padding-right: 2%;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;

}
.seckinalat1 {
    display: flexbox;
    max-height: 100%;
    
    
}
.seckinalat2 {
    display: flexbox;
    max-height: 100%;
}

.seckinalat3 {
    display: flexbox;
    max-height: 100%;
}
.foimg{
    height: 350px;
    width: 350px;
    max-width: 100%;
    background-color:#343a40;
    
     
}
